/* General imports */
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/* Colors definitions */
/* Margins & paddings */
/* Sizes */
.u-mt-4 {
  margin-top: 2.4rem; }

.u-mt-6 {
  margin-top: 4.8rem; }

.u-mt-auto {
  margin-top: auto; }

html {
  font-size: 62.5%;
  cursor: default; }

body {
  box-sizing: border-box;
  font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: #191f1d; }

a {
  text-decoration: none;
  color: inherit; }

::selection {
  background-color: #a29bfe;
  color: #ffffff; }

.divider {
  width: 100%;
  height: 2px;
  background-color: #f7f7f7; }

/* Pages imports */
.section-recruiter-requests__sort, .section-recruiter-requests__filters, .section-recruiter-requests__requests-table {
  margin-bottom: 2.4rem; }
  @media only screen and (max-width: 26em) {
    .section-recruiter-requests__sort, .section-recruiter-requests__filters, .section-recruiter-requests__requests-table {
      margin-bottom: 1.6rem; } }

.section-recruiter-request__request, .section-recruiter-request__director {
  margin-bottom: 2.4rem; }
  @media only screen and (max-width: 26em) {
    .section-recruiter-request__request, .section-recruiter-request__director {
      margin-bottom: 1.6rem; } }

.view-candidate__request {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 26em) {
    .view-candidate__request {
      margin-bottom: 1rem; } }

.add-candidate__request {
  margin-bottom: 2rem; }
  @media only screen and (max-width: 26em) {
    .add-candidate__request {
      margin-bottom: 1rem; } }

.add-candidate__form {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem; }
  @media only screen and (max-width: 48em) {
    .add-candidate__form {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .add-candidate__form {
      padding: 1.6rem; } }
  .add-candidate__form-title {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    line-height: 2.4rem; }
  .add-candidate__form-divider {
    width: 100%;
    height: 0.2rem;
    margin-bottom: 2.4rem;
    background-color: #f2f2f2; }

.auth {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafcfb; }
  @media only screen and (max-width: 42em) {
    .auth {
      align-items: stretch; } }
  .auth__container {
    width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 4.8rem 2.4rem;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05); }
    @media only screen and (max-width: 42em) {
      .auth__container {
        width: 100%; } }
    @media only screen and (max-width: 28em) {
      .auth__container {
        padding: 0 3.2rem;
        padding-bottom: 6.4rem; } }
  .auth__logo-container {
    width: 18rem;
    margin-bottom: 4.8rem; }
    @media only screen and (max-width: 42em) {
      .auth__logo-container {
        margin-top: 12vh;
        margin-bottom: 3.6rem; } }
  .auth__logo {
    width: 100%;
    height: 100%; }
  .auth__title {
    margin-bottom: 4.2rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.8rem; }
    @media only screen and (max-width: 42em) {
      .auth__title {
        margin-bottom: 3.6rem; } }
  .auth__form {
    width: 32rem; }
    @media only screen and (max-width: 28em) {
      .auth__form {
        width: 100%; } }

.person-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .person-list__item {
    flex: 0 0 49%;
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 75em) {
      .person-list__item {
        flex: 0 0 100%; } }
    @media only screen and (max-width: 26em) {
      .person-list__item {
        margin-bottom: 1rem; } }
  .person-list__candidate {
    height: 100%; }

.section-profile {
  display: flex;
  margin-top: 3.2rem; }
  @media only screen and (max-width: 60em) {
    .section-profile {
      flex-flow: column nowrap;
      margin-top: 2rem; } }
  .section-profile__image-preview {
    flex: 0 0 18%;
    margin-right: 3.2rem; }
    @media only screen and (max-width: 60em) {
      .section-profile__image-preview {
        align-self: center;
        flex: unset;
        width: 20rem;
        margin-right: 0; } }
  .section-profile__image {
    width: 100%;
    border-radius: 100rem; }
  .section-profile__image-caption {
    font-weight: 600; }
    @media only screen and (max-width: 60em) {
      .section-profile__image-caption {
        text-align: center; } }
  .section-profile__user-name {
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 2.4rem; }
    @media only screen and (max-width: 60em) {
      .section-profile__user-name {
        margin-top: 0.8rem;
        font-size: 1.8rem;
        line-height: 2.2rem; } }
  .section-profile__user-email {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #999999; }
    @media only screen and (max-width: 60em) {
      .section-profile__user-email {
        margin-top: 0.4rem; } }
  .section-profile__user-info {
    align-self: flex-start;
    flex: 1;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
    padding: 2.4rem 3.2rem;
    padding: 1.2rem 3.2rem; }
    @media only screen and (max-width: 48em) {
      .section-profile__user-info {
        padding: 1.6rem 2.4rem; } }
    @media only screen and (max-width: 26em) {
      .section-profile__user-info {
        padding: 1.6rem; } }
    @media only screen and (max-width: 60em) {
      .section-profile__user-info {
        align-self: stretch;
        flex: unset;
        margin-top: 2rem; } }
    @media only screen and (max-width: 32em) {
      .section-profile__user-info {
        padding: 1.2rem 2.4rem; } }

.section-create-request {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem; }
  @media only screen and (max-width: 48em) {
    .section-create-request {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .section-create-request {
      padding: 1.6rem; } }
  .section-create-request__title {
    margin-bottom: 1.2rem;
    font-size: 2rem;
    line-height: 2.4rem; }
  .section-create-request__divider {
    margin-bottom: 2.4rem; }

.director-request-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none; }
  .director-request-list__item {
    flex: 0 0 49%;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 75em) {
      .director-request-list__item {
        flex: 100%; } }

/* Component imports */
.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background-color: #ffffff; }
  .app__main-content {
    display: flex;
    min-height: calc(100vh - 9.2rem);
    background-color: #fafcfb;
    border-top-left-radius: 2rem;
    margin-left: 28rem;
    overflow: auto; }
    @media only screen and (max-width: 48em) {
      .app__main-content {
        margin-left: 0;
        border-top-left-radius: 0; } }
    @media only screen and (max-width: 26em) {
      .app__main-content {
        height: calc(100vh - 7.2rem); } }

.main-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 9.2rem; }
  @media only screen and (max-width: 48em) {
    .main-header {
      padding: 0 3.2rem; } }
  @media only screen and (max-width: 26em) {
    .main-header {
      height: 7.2rem;
      padding: 0 2.4rem; } }
  .main-header__toggle-button {
    position: absolute;
    visibility: hidden;
    z-index: -1000; }
    @media only screen and (max-width: 48em) {
      .main-header__toggle-button {
        position: initial;
        visibility: visible;
        z-index: 0; } }
  .main-header__logo-container {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    transition: opacity 0.2s ease; }
    @media only screen and (max-width: 48em) {
      .main-header__logo-container {
        width: auto;
        margin-left: auto; } }
    .main-header__logo-container:hover {
      opacity: 0.75; }
  .main-header__logo {
    width: 14rem; }
  .main-header__current-time {
    padding: 0.8rem 3.2rem;
    background-color: #f7f7f7;
    border-radius: 10rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    transition: background-color 0.2s ease, color 0.2s ease; }
    @media only screen and (max-width: 48em) {
      .main-header__current-time {
        display: none; } }
    .main-header__current-time:hover {
      background-color: #f0f0f0;
      color: #7369fd; }
  .main-header__user-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4.8rem; }
    @media only screen and (max-width: 48em) {
      .main-header__user-container {
        display: none; } }
    .main-header__user-container:hover {
      color: #a29bfe; }
  .main-header__user-photo {
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 1.6rem;
    border-radius: 10rem; }
  .main-header__user-name {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    transition: color 0.2s ease; }

.toggle-button {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 2.8rem;
  height: 1.6rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease; }
  .toggle-button:hover {
    opacity: 0.75; }
  .toggle-button__bar {
    height: 0.2rem;
    background-color: #a29bfe; }
    .toggle-button__bar--middle {
      width: 75%; }
    .toggle-button__bar--bottom {
      width: 50%; }

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  width: 28rem;
  height: calc(100vh - 9.2rem);
  overflow: auto;
  padding: 6rem 4rem;
  position: fixed;
  top: 9.2rem;
  left: 0;
  z-index: 10;
  background-color: #ffffff; }
  @media only screen and (max-width: 48em) {
    .sidebar {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: -105%;
      transition: transform 0.4s ease; }
      .sidebar--shown {
        transform: translateX(105%);
        z-index: 10; } }
  .sidebar__close-button {
    position: absolute;
    top: 2.4rem;
    right: 4rem;
    visibility: hidden; }
    @media only screen and (max-width: 48em) {
      .sidebar__close-button {
        visibility: visible; } }
  .sidebar__nav {
    margin-bottom: 4.8rem; }
  .sidebar__nav-title {
    margin-left: 2.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem; }
  .sidebar__nav-list {
    margin-top: 2rem; }
  .sidebar__requests-button {
    align-self: center;
    margin-top: auto; }

.nav-list {
  list-style: none; }
  .nav-list__item:not(:last-child) {
    margin-bottom: 1.6rem; }

.nav-link {
  display: flex;
  align-items: center;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  transition: background-color 0.2s ease; }
  .nav-link:hover {
    background-color: #f7f7f7;
    color: #8b82fe;
    fill: #8b82fe; }
  .nav-link--active {
    background-color: #f0f0f0;
    color: #7369fd;
    fill: #7369fd; }
  .nav-link__icon {
    margin-right: 1.2rem;
    width: 1.4rem;
    height: 1.4rem;
    transition: fill 0.2s ease; }
  .nav-link__text {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    transition: color 0.2s ease; }

.requests-button {
  padding: 1.4rem 2.4rem;
  border: none;
  background-color: #9b9eea;
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease; }
  .requests-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2); }
  .requests-button:active, .requests-button:focus {
    transform: translateY(-2px);
    box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.17); }
  .requests-button__count {
    margin-right: 0.6rem;
    padding: 0.4rem 0.8rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #666666; }
  .requests-button__text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #ffffff; }

.close-button {
  width: 2.4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: opacity 0.2s ease; }
  .close-button:hover {
    opacity: 0.75; }
  .close-button__icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.filters {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  max-height: 7.2rem;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  @media only screen and (max-width: 48em) {
    .filters {
      max-height: 5.6rem; } }
  .filters::after {
    content: '';
    display: block;
    margin-top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 3.6rem;
    right: 3.2rem;
    background-image: url("/images/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s ease; }
    @media only screen and (max-width: 48em) {
      .filters::after {
        margin-top: -0.9rem;
        width: 1.8rem;
        height: 1.8rem;
        top: 2.8rem;
        right: 2.4rem; } }
    @media only screen and (max-width: 26em) {
      .filters::after {
        margin-top: -0.8rem;
        width: 1.6rem;
        height: 1.6rem;
        right: 1.6rem; } }
  .filters--shown {
    max-height: 100rem;
    overflow: unset; }
    .filters--shown::after {
      transform: rotate(180deg); }
  .filters__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
    padding: 2.4rem 3.2rem; }
    @media only screen and (max-width: 48em) {
      .filters__title {
        padding: 1.6rem 2.4rem; } }
    @media only screen and (max-width: 26em) {
      .filters__title {
        padding: 1.6rem; } }
  .filters__filters-list {
    padding: 1px 3.2rem 3.2rem 3.2rem; }
    @media only screen and (max-width: 48em) {
      .filters__filters-list {
        padding: 1px 2.4rem 2.4rem 2.4rem; } }
    @media only screen and (max-width: 26em) {
      .filters__filters-list {
        padding: 1px 1.6rem 1.6rem 1.6rem; } }

.filters-list {
  list-style: none; }
  .filters-list__item:not(:last-child) {
    margin-bottom: 1.2rem; }

.filter-form {
  display: flex; }
  .filter-form__field {
    padding: 1.2rem 2.4rem;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    color: gray;
    outline: none;
    transition: border-color 0.2s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    flex: 1; }
    .filter-form__field:focus {
      border-color: #a29bfe; }
  .filter-form__select {
    background-image: url("/images/icons/arrow_down.svg");
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: right 2.4rem center; }

.recruiter-requests-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none; }
  .recruiter-requests-list__item {
    flex: 0 0 49%;
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 75em) {
      .recruiter-requests-list__item {
        flex: 0 0 100%; } }
    @media only screen and (max-width: 26em) {
      .recruiter-requests-list__item {
        margin-bottom: 1.6rem; } }

.recruiter-request {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem;
  height: 100%; }
  @media only screen and (max-width: 48em) {
    .recruiter-request {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .recruiter-request {
      padding: 1.6rem; } }
  .recruiter-request__title {
    margin-bottom: 0.6rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.6rem; }
    @media only screen and (max-width: 26em) {
      .recruiter-request__title {
        margin-bottom: 0.4rem; } }
  .recruiter-request__date {
    display: block;
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: #999999; }
    @media only screen and (max-width: 48em) {
      .recruiter-request__date {
        margin-bottom: 1.6rem; } }
  .recruiter-request__labels-list {
    margin-bottom: 1.6rem; }
    @media only screen and (max-width: 48em) {
      .recruiter-request__labels-list {
        margin-bottom: 0.8rem; } }
  .recruiter-request__divider {
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 48em) {
      .recruiter-request__divider {
        margin-bottom: 1.6rem; } }
  .recruiter-request__controls {
    display: flex; }
  .recruiter-request__button {
    padding: 1.2rem 1.6rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    border-radius: 0.6rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    outline: none; }
    @media only screen and (max-width: 26em) {
      .recruiter-request__button {
        padding: 0.6rem 0.8rem; } }
    .recruiter-request__button:hover {
      background-color: rgba(0, 0, 0, 0.06);
      color: #7369fd; }
    .recruiter-request__button:active {
      background-color: rgba(0, 0, 0, 0.08);
      color: #6a5efd; }

.labels-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none; }
  .labels-list__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;
    background-color: #9b9eea;
    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: #ffffff; }

.requests-table {
  width: 100%;
  border-collapse: collapse; }
  .requests-table__header {
    padding-left: 3.2rem; }
  .requests-table__row {
    display: flex; }
  .requests-table__body-row {
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s ease; }
    .requests-table__body-row:not(:last-child) {
      border-bottom: 1px solid #f2f2f2; }
    .requests-table__body-row:hover {
      background-color: #fcfcfc;
      color: #8b82fe; }
  .requests-table__cell {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 1.6rem 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-align: left;
    transition: color 0.2s ease; }
    .requests-table__cell--time {
      flex: 2;
      padding-left: 3.2rem; }
    .requests-table__cell--position {
      flex: 3; }
    .requests-table__cell--schedule {
      flex: 1; }
    .requests-table__cell--rate {
      flex: 1; }
    .requests-table__cell--qty {
      flex: 1; }
    .requests-table__cell--brand {
      flex: 2; }
    .requests-table__cell--address {
      flex: 3; }
    .requests-table__cell--station {
      flex: 3; }
  .requests-table__header-cell {
    font-weight: 700;
    color: #666666; }

.recruiter-request-expanded {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem; }
  @media only screen and (max-width: 48em) {
    .recruiter-request-expanded {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .recruiter-request-expanded {
      padding: 1.6rem; } }
  .recruiter-request-expanded__title {
    margin-bottom: 0.6rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.6rem; }
    @media only screen and (max-width: 26em) {
      .recruiter-request-expanded__title {
        margin-bottom: 0.4rem; } }
  .recruiter-request-expanded__date {
    display: block;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: #999999; }
    @media only screen and (max-width: 48em) {
      .recruiter-request-expanded__date {
        margin-bottom: 1.6rem; } }
  .recruiter-request-expanded__comment {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem; }
    @media only screen and (max-width: 48em) {
      .recruiter-request-expanded__comment {
        margin-bottom: 1.6rem; } }
  .recruiter-request-expanded__labels-list {
    margin-bottom: 1.6rem; }
    @media only screen and (max-width: 48em) {
      .recruiter-request-expanded__labels-list {
        margin-bottom: 0.8rem; } }
  .recruiter-request-expanded__divider {
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 48em) {
      .recruiter-request-expanded__divider {
        margin-bottom: 1.6rem; } }
  .recruiter-request-expanded__controls {
    display: flex;
    flex-flow: row wrap; }
  .recruiter-request-expanded__button {
    padding: 1.2rem 1.6rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    border-radius: 0.6rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    outline: none;
    margin-right: 1rem; }
    @media only screen and (max-width: 26em) {
      .recruiter-request-expanded__button {
        padding: 0.6rem 0.8rem; } }
    .recruiter-request-expanded__button:hover {
      background-color: rgba(0, 0, 0, 0.06);
      color: #7369fd; }
    .recruiter-request-expanded__button:active {
      background-color: rgba(0, 0, 0, 0.08);
      color: #6a5efd; }

.director {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem; }
  @media only screen and (max-width: 48em) {
    .director {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .director {
      padding: 1.6rem; } }
  .director__title {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: #999999; }
    @media only screen and (max-width: 26em) {
      .director__title {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.8rem; } }
  .director__name {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem; }
    @media only screen and (max-width: 26em) {
      .director__name {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2rem; } }
    .director__name a {
      transition: color 0.2s ease; }
      .director__name a:hover {
        color: #a29bfe; }

.candidates {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem; }
  @media only screen and (max-width: 48em) {
    .candidates {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .candidates {
      padding: 1.6rem; } }
  .candidates__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem; }
  .candidates__title {
    margin-right: auto;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: #999999; }
    @media only screen and (max-width: 26em) {
      .candidates__title {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.8rem; } }
  .candidates__button {
    padding: 1.2rem 1.6rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    border-radius: 0.6rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    outline: none; }
    @media only screen and (max-width: 26em) {
      .candidates__button {
        padding: 0.6rem 0.8rem; } }
    .candidates__button:hover {
      background-color: rgba(0, 0, 0, 0.06);
      color: #7369fd; }
    .candidates__button:active {
      background-color: rgba(0, 0, 0, 0.08);
      color: #6a5efd; }
  .candidates__list {
    list-style: none; }
  .candidates__list-item:not(:last-child) {
    margin-bottom: 0.8rem; }
  .candidates__link {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    transition: color 0.2s ease; }
    .candidates__link:hover {
      color: #a29bfe; }

.progress {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem; }
  @media only screen and (max-width: 48em) {
    .progress {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .progress {
      padding: 1.6rem; } }
  .progress__title {
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: #999999; }
    @media only screen and (max-width: 26em) {
      .progress__title {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.8rem; } }
  .progress__container {
    display: flex;
    align-items: center;
    max-width: 42rem; }
  .progress__plate {
    flex: 1;
    height: 5px;
    margin-right: 1.6rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    overflow: hidden; }
  .progress__bar {
    width: 50%;
    height: 100%;
    background-color: #a29bfe; }
  .progress__percentage {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: #a29bfe; }

.requestsList {
  margin-top: 2.4rem;
  list-style: none;
  display: flex;
  flex-flow: row wrap; }
  @media only screen and (max-width: 75em) {
    .requestsList {
      justify-content: space-between;
      margin-top: 2rem; } }
  @media only screen and (max-width: 26em) {
    .requestsList {
      margin-top: 1.2rem; } }
  .requestsList__item {
    flex: 0 0 32%;
    margin-bottom: 2.4rem;
    display: flex; }
    @media only screen and (max-width: 75em) {
      .requestsList__item {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 26em) {
      .requestsList__item {
        margin-bottom: 1.2rem; } }
    .requestsList__item > * {
      flex: 1; }
    .requestsList__item:not(:nth-child(3n)) {
      margin-right: 2%; }
    @media only screen and (max-width: 75em) {
      .requestsList__item {
        flex: 0 0 48%; }
        .requestsList__item:not(:nth-child(3n)) {
          margin-right: 0%; } }
    @media only screen and (max-width: 60em) {
      .requestsList__item {
        flex: 0 0 100%; } }

.requestsListCollapsed {
  margin-top: 2.4rem;
  list-style: none; }
  .requestsListCollapsed__item {
    margin-bottom: 2.4rem; }

.request {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 2.4rem;
  padding-bottom: 1rem;
  position: relative;
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem; }
  .request:hover {
    background-color: #fcfcfc;
    box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.1);
    transform: translateY(-3px); }
  .request__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .request__label {
    align-self: flex-start;
    padding: 0.4rem 1rem;
    margin-bottom: 1.6rem;
    border-radius: 10rem;
    color: #ffffff; }
    .request__label--new {
      background-color: #47c86a; }
    .request__label--all {
      background-color: #ffc867; }
  .request__timestamp {
    color: #505a65;
    margin-bottom: 1.6rem; }
  .request__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 2rem; }

.labelsList {
  list-style: none;
  display: flex;
  flex-flow: row wrap; }
  .labelsList--request {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem; }
  .labelsList__item {
    padding: 0.4rem 1rem;
    margin-bottom: 1rem;
    background-color: #f5f7f6;
    border-radius: 10rem;
    font-weight: 400; }
    .labelsList__item:not(:last-child) {
      margin-right: 1rem; }

.section {
  flex: 1;
  padding: 3.2rem 4.8rem; }
  @media only screen and (max-width: 48em) {
    .section {
      padding: 2.4rem 3.2rem; } }
  @media only screen and (max-width: 26em) {
    .section {
      padding: 1.6rem; } }
  .section__title {
    margin-bottom: 2.4rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem; }
    @media only screen and (max-width: 26em) {
      .section__title {
        margin-bottom: 1.6rem; } }

.request-card-expanded {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem;
  font-weight: 600; }
  @media only screen and (max-width: 48em) {
    .request-card-expanded {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .request-card-expanded {
      padding: 1.6rem; } }
  .request-card-expanded__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem; }
    @media only screen and (max-width: 32em) {
      .request-card-expanded__header {
        flex-flow: column nowrap;
        align-items: flex-start; } }
  .request-card-expanded__title {
    font-size: 2rem;
    line-height: 2.4rem; }
    @media only screen and (max-width: 32em) {
      .request-card-expanded__title {
        margin-bottom: 1rem; } }
  .request-card-expanded__time {
    margin-left: auto;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #999999; }
    @media only screen and (max-width: 32em) {
      .request-card-expanded__time {
        margin-left: 0; } }
  .request-card-expanded__divider {
    width: 100%;
    height: 0.2rem;
    margin-bottom: 2.4rem;
    background-color: #f2f2f2; }
  .request-card-expanded__description {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    line-height: 1.8rem; }
  .request-card-expanded__labels {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -1rem;
    list-style: none; }
  .request-card-expanded__label {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.6rem 1.6rem;
    background-color: #f2f2f2;
    border-radius: 10rem;
    font-size: 1.4rem;
    line-height: 1.8rem; }

.candidate-card-expanded {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem;
  font-weight: 600; }
  @media only screen and (max-width: 48em) {
    .candidate-card-expanded {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .candidate-card-expanded {
      padding: 1.6rem; } }
  .candidate-card-expanded__title {
    margin-bottom: 0.6rem;
    font-size: 2rem;
    line-height: 2.4rem; }
  .candidate-card-expanded__status {
    display: inline-block;
    margin-bottom: 1.6rem;
    padding: 0.4rem 1rem;
    border-radius: 10rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #ffffff; }
    .candidate-card-expanded__status--is-employed {
      background-color: #47c86a; }
    .candidate-card-expanded__status--not-employed {
      background-color: #ffc867; }
  .candidate-card-expanded__interview {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    line-height: 2rem; }
    .candidate-card-expanded__interview-time {
      color: #999999; }
  .candidate-card-expanded__divider {
    width: 100%;
    height: 0.2rem;
    margin-bottom: 2.4rem;
    background-color: #f2f2f2; }
  .candidate-card-expanded__info-list {
    margin-bottom: 1.2rem; }
  .candidate-card-expanded__comment {
    font-size: 1.4rem;
    line-height: 1.8rem; }
  .candidate-card-expanded__controls {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2.4rem; }
  .candidate-card-expanded__button {
    padding: 0.8rem 2rem;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10rem;
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    margin-right: 1rem;
    margin-bottom: 1rem; }
    .candidate-card-expanded__button:hover {
      background-color: #f2f2f2; }
    .candidate-card-expanded__button:focus, .candidate-card-expanded__button:active {
      background-color: #f2f2f2;
      border-color: #a29bfe; }

.info-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none; }
  .info-list__item {
    margin-right: 1.2rem;
    margin-bottom: 1rem;
    padding: 1.6rem 2rem;
    box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);
    background-color: #9b9eea;
    border-radius: 1.6rem;
    color: #ffffff; }
  .info-list__title {
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
    line-height: 1.8rem; }
  .info-list__content {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem; }
    @media only screen and (max-width: 32em) {
      .info-list__content {
        font-size: 1.6rem;
        line-height: 2rem; } }

.add-candidate-form {
  max-width: 48rem; }
  .add-candidate-form__group {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1.2rem; }
    .add-candidate-form__group--cols-2 {
      flex-flow: row wrap;
      justify-content: space-between; }
      @media only screen and (max-width: 54em) {
        .add-candidate-form__group--cols-2 {
          flex-flow: column nowrap;
          justify-content: flex-start; } }
  .add-candidate-form__field {
    flex: 1;
    padding: 1.2rem 2.4rem;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    color: gray;
    outline: none; }
    .add-candidate-form__field:focus {
      border-color: #a29bfe; }
    .add-candidate-form__field--half-width {
      flex: 1; }
      .add-candidate-form__field--half-width:first-child {
        margin-right: 1.2rem; }
        @media only screen and (max-width: 54em) {
          .add-candidate-form__field--half-width:first-child {
            margin-right: 0;
            margin-bottom: 1.2rem; } }
  .add-candidate-form__textarea {
    height: 8rem;
    resize: none; }
  .add-candidate-form__annotation {
    margin-top: 0.8rem;
    padding-left: 2.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: #999999; }
  .add-candidate-form__submit {
    margin-top: 1.2rem;
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #9b9eea;
    box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    backface-visibility: hidden; }
    .add-candidate-form__submit:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2); }
    .add-candidate-form__submit:focus, .add-candidate-form__submit:active {
      transform: translateY(-2px);
      box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.17); }

.auth-form {
  display: flex;
  flex-flow: column nowrap; }
  .auth-form__group {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2rem; }
  .auth-form__label {
    align-self: center;
    margin-bottom: 0.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem; }
  .auth-form__field {
    padding: 0.8rem 2.4rem;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 10rem;
    text-align: center;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    outline: none;
    transition: background-color 0.2s ease, border-color 0.2s ease; }
    .auth-form__field:hover {
      background-color: #fcfcfc; }
    .auth-form__field:focus {
      border-color: #fd79a8; }
  .auth-form__submit {
    align-self: center;
    min-width: 16rem;
    margin-top: 2.4rem;
    padding: 1.2rem 2.4rem;
    background-image: linear-gradient(to right bottom, #fd79a8, #a29bfe);
    box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.1);
    border-radius: 10rem;
    border: none;
    text-align: center;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease; }
    .auth-form__submit:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.2); }
    .auth-form__submit:focus, .auth-form__submit:active {
      transform: translateY(-2px);
      box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.15); }
  .auth-form__annotation {
    margin-top: 1.6rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem; }
    .auth-form__annotation-highlight {
      border-bottom: 2px solid #fd79a8;
      color: #fd79a8;
      transition: opacity 0.2s ease, padding-bottom 0.2s ease;
      backface-visibility: hidden; }
      .auth-form__annotation-highlight:hover {
        opacity: 0.8;
        padding-bottom: 0.2rem; }

.user-info-list {
  list-style: none; }
  .user-info-list__item {
    display: flex;
    align-items: center;
    padding: 2.4rem 1.6rem; }
    .user-info-list__item:not(:last-child) {
      border-bottom: 1px solid #e6e6e6; }
    @media only screen and (max-width: 32em) {
      .user-info-list__item {
        padding: 1.6rem; } }
  .user-info-list__icon-container {
    width: 2.6rem;
    height: 2.6rem; }
  .user-info-list__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: #a29bfe; }
  .user-info-list__content {
    flex: 1;
    padding-left: 3.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem; }

.director-request {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem;
  font-weight: 600; }
  @media only screen and (max-width: 48em) {
    .director-request {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .director-request {
      padding: 1.6rem; } }
  .director-request__title {
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem; }
    .director-request__title a {
      transition: color 0.2s ease; }
      .director-request__title a:hover {
        color: #a29bfe; }
    @media only screen and (max-width: 26em) {
      .director-request__title {
        font-size: 1.8rem;
        line-height: 2.2rem; } }
  .director-request__comment {
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    color: #666666; }
  .director-request__divider {
    margin-bottom: 2.4rem; }
  .director-request__controls {
    display: flex;
    align-items: center; }
  .director-request__button {
    padding: 1.2rem 1.6rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    border-radius: 0.6rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    outline: none; }
    .director-request__button:hover {
      background-color: rgba(0, 0, 0, 0.06);
      color: #7369fd; }
    .director-request__button:active {
      background-color: rgba(0, 0, 0, 0.08);
      color: #6a5efd; }
    .director-request__button:first-child {
      margin-right: 1rem; }

.request-labels-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.6rem;
  list-style: none; }
  .request-labels-list__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;
    background-color: #9b9eea;
    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;
    font-size: 1.4rem;
    color: #ffffff; }

.interviews-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none; }
  .interviews-list__item {
    flex: 0 0 32%;
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 87.5em) {
      .interviews-list__item {
        flex: 0 0 49%; } }
    @media only screen and (max-width: 64em) {
      .interviews-list__item {
        flex: 0 0 100%; } }
    @media only screen and (max-width: 26em) {
      .interviews-list__item {
        margin-bottom: 1rem; } }

.interview-card {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem;
  display: flex;
  flex-flow: column nowrap;
  padding: 1.6rem 2.4rem;
  position: relative;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600; }
  @media only screen and (max-width: 48em) {
    .interview-card {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .interview-card {
      padding: 1.6rem; } }
  .interview-card__title {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    line-height: 2rem; }
    .interview-card__title time {
      color: #666666; }
  .interview-card__name {
    margin-bottom: 0.2rem; }
  .interview-card__position {
    margin-bottom: 1.6rem; }
    .interview-card__position span {
      color: #7369fd; }
  .interview-card__request-link {
    align-self: flex-end;
    padding: 1.2rem 1.6rem;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 0.6rem;
    transition: background-color 0.2s ease, color 0.2s ease; }
    .interview-card__request-link:hover {
      background-color: rgba(0, 0, 0, 0.06);
      color: #7369fd; }
  .interview-card__interview-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }

.director-candidates-list {
  background-color: #ffffff;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
  margin-top: 2.4rem;
  list-style: none; }
  .director-candidates-list__item {
    padding: 2.4rem 3.2rem;
    transition: background-color 0.2s ease; }
    .director-candidates-list__item:not(:last-child) {
      border-bottom: 1px solid #e6e6e6; }
    .director-candidates-list__item:hover {
      background-color: #fafafa; }

.candidate {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem; }
  .candidate__name {
    margin-bottom: 0.4rem; }
  .candidate__interview {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #999999; }
  .candidate__comment {
    margin-bottom: 1.2rem; }
  .candidate__interview-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.director-candidate {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem;
  margin-top: 2.4rem;
  font-weight: 600; }
  @media only screen and (max-width: 48em) {
    .director-candidate {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .director-candidate {
      padding: 1.6rem; } }
  @media only screen and (max-width: 26em) {
    .director-candidate {
      margin-top: 1rem; } }
  .director-candidate__name {
    margin-bottom: 0.6rem;
    font-size: 1.6rem;
    line-height: 2rem; }
  .director-candidate__interview {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #999999; }
  .director-candidate__comment {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    line-height: 1.8rem; }
  .director-candidate__divider {
    margin-bottom: 1.6rem; }
  .director-candidate__result-title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem; }

.employees-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none; }
  .employees-list__item {
    flex: 0 0 49%;
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 75em) {
      .employees-list__item {
        flex: 0 0 100%; } }
    @media only screen and (max-width: 26em) {
      .employees-list__item {
        margin-bottom: 1rem; } }

.employee {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600; }
  @media only screen and (max-width: 48em) {
    .employee {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .employee {
      padding: 1.6rem; } }
  .employee__name {
    margin-bottom: 1.6rem;
    font-size: 1.6rem; }
  .employee__position {
    margin-bottom: 0.4rem; }
  .employee__schedule {
    margin-bottom: 1.6rem; }
  .employee__link {
    display: inline-block;
    padding: 1.2rem 1.6rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 0.6rem;
    transition: background-color 0.2s ease, color 0.2s ease; }
    .employee__link:hover {
      background-color: rgba(0, 0, 0, 0.06);
      color: #7369fd; }

.employee-card-expanded {
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);
  padding: 2.4rem 3.2rem;
  font-weight: 600; }
  @media only screen and (max-width: 48em) {
    .employee-card-expanded {
      padding: 1.6rem 2.4rem; } }
  @media only screen and (max-width: 26em) {
    .employee-card-expanded {
      padding: 1.6rem; } }
  .employee-card-expanded__name {
    margin-bottom: 0.4rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem; }
  .employee-card-expanded__position {
    margin-bottom: 2.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: #999999; }
  .employee-card-expanded__info-list {
    margin-bottom: 1.6rem; }
  .employee-card-expanded__comment {
    font-size: 1.4rem;
    line-height: 1.8rem; }
  .employee-card-expanded__controls {
    margin-top: 1.2rem; }
  .employee-card-expanded__button {
    padding: 1.2rem 1.6rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: none;
    border-radius: 0.6rem;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    outline: none; }
    .employee-card-expanded__button:hover {
      background-color: rgba(0, 0, 0, 0.06);
      color: #7369fd; }
    .employee-card-expanded__button:active {
      background-color: rgba(0, 0, 0, 0.08);
      color: #6a5efd; }

.employee-info-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none; }
  .employee-info-list__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;
    background-color: #9b9eea;
    border-radius: 0.6rem;
    font-size: 1.4rem;
    color: #ffffff; }
  .employee-info-list__content {
    font-weight: 600; }
