html {
  font-size: 62.5%;
  cursor: default;
}

body {
  box-sizing: border-box;

  font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: $font-color-default;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: $color-purple;
  color: $color-white;
}

.divider {
  width: 100%;
  height: 2px;

  background-color: darken($color-white, 3%);
}
