@mixin common-button {
  padding: 0.8rem 2rem;

  background-color: transparent;
  border: 1px solid darken($color-white, 10%);
  border-radius: 10rem;

  @include font-default;
  font-family: inherit;
  color: inherit;

  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($color-white, 1%);
  }

  &:focus,
  &:active {
    background-color: darken($color-white, 3%);
  }
}

@mixin button {
  padding: 0.8rem 2rem;

  background-color: $color-white;
  border: 1px solid darken($color-white, 20%);
  border-radius: 10rem;

  font-family: inherit;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;

  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  &:hover {
    background-color: darken($color-white, 5%);
  }

  &:focus,
  &:active {
    background-color: darken($color-white, 5%);
    border-color: $color-purple;
  }
}

// this
@mixin font-default {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
}

@mixin font-sm {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
}

@mixin font-md {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}

@mixin font-lg {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
}

@mixin font-xl {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;
}

@mixin card--no-padding {
  background-color: $color-white;
  border-radius: 0.8rem;
  box-shadow: $card-box-shadow;
}

@mixin card {
  @include card--no-padding;

  padding: 2.4rem 3.2rem;

  @media only screen and (max-width: 48em) {
    padding: 1.6rem 2.4rem;
  }

  @media only screen and (max-width: 26em) {
    padding: 1.6rem;
  }
}

@mixin form-field {
  padding: 1.2rem 2.4rem;

  border: 1px solid darken($color-white, 20%);
  border-radius: 0.5rem;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  color: darken($color-white, 50%);

  outline: none;
  transition: border-color 0.2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    border-color: $color-purple;
  }
}

@mixin card-button {
  padding: 1.2rem 1.6rem;

  background-color: rgba($color-black, 0.03);
  border: none;
  border-radius: 0.6rem;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;

  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  outline: none;

  @media only screen and (max-width: 26em) {
    padding: 0.6rem 0.8rem;
  }

  &:hover {
    background-color: rgba($color-black, 0.06);
    color: darken($color-purple, 10%);
  }

  &:active {
    background-color: rgba($color-black, 0.08);
    color: darken($color-purple, 12%);
  }
}
