/* Colors definitions */
$font-color-default: #191f1d;
$background-color: #778beb;
$main-background-color: #fafcfb;

$color-white: #ffffff;
$color-black: #000000;

$color-lightgrey: #f5f7f6;
$color-lightgrey-2: #f1f1f1;
$color-darkgrey: #505a65;

$color-pink: #fd79a8;
$color-purple: #a29bfe;
$color-green: #47c86a;
$color-orange: #ffc867;

$box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
$card-box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.05);

/* Margins & paddings */
$gutter-1: 0.8rem;
$gutter-2: 1.2rem;
$gutter-3: 1.6rem;
$gutter-4: 2.4rem;
$gutter-5: 3.2rem;
$gutter-6: 4.8rem;
$gutter-7: 6.4rem;

/* Sizes */
$header-height: 9.2rem;
$header-height-mobile: 7.2rem;

$sidebar-width: 28rem;
