.add-candidate {
  &__request {
    margin-bottom: 2rem;

    @media only screen and (max-width: 26em) {
      margin-bottom: 1rem;
    }
  }

  &__form {
    @include card;

    &-title {
      margin-bottom: 1.2rem;

      font-size: 2rem;
      line-height: 2.4rem;
    }

    &-divider {
      width: 100%;
      height: 0.2rem;

      margin-bottom: 2.4rem;

      background-color: darken($color-white, 5%);
    }
  }
}
