.auth {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $main-background-color;

  @media only screen and (max-width: 42em) {
    align-items: stretch;
  }

  &__container {
    width: 64rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    padding: 4.8rem 2.4rem;

    background-color: $color-white;
    border-radius: 0.8rem;
    box-shadow: $box-shadow;

    @media only screen and (max-width: 42em) {
      width: 100%;
    }

    @media only screen and (max-width: 28em) {
      padding: 0 3.2rem;
      padding-bottom: 6.4rem;
    }
  }

  &__logo-container {
    width: 18rem;

    margin-bottom: 4.8rem;

    @media only screen and (max-width: 42em) {
      margin-top: 12vh;
      margin-bottom: 3.6rem;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-bottom: 4.2rem;

    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.8rem;

    @media only screen and (max-width: 42em) {
      margin-bottom: 3.6rem;
    }
  }

  &__form {
    width: 32rem;

    @media only screen and (max-width: 28em) {
      width: 100%;
    }
  }
}
