.director-request-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  list-style: none;

  &__item {
    flex: 0 0 49%;

    margin-bottom: 2rem;

    @media only screen and (max-width: 75em) {
      flex: 100%;
    }
  }
}
