.section-profile {
  display: flex;

  margin-top: 3.2rem;

  @media only screen and (max-width: 60em) {
    flex-flow: column nowrap;

    margin-top: 2rem;
  }

  &__image-preview {
    flex: 0 0 18%;

    margin-right: 3.2rem;

    @media only screen and (max-width: 60em) {
      align-self: center;

      flex: unset;
      width: 20rem;

      margin-right: 0;
    }
  }

  &__image {
    width: 100%;

    border-radius: 100rem;
  }

  &__image-caption {
    font-weight: 600;

    @media only screen and (max-width: 60em) {
      text-align: center;
    }
  }

  &__user-name {
    margin-top: 2rem;

    font-size: 2rem;
    line-height: 2.4rem;

    @media only screen and (max-width: 60em) {
      margin-top: 0.8rem;

      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  }

  &__user-email {
    font-size: 1.6rem;
    line-height: 2rem;
    color: darken($color-white, 40%);

    @media only screen and (max-width: 60em) {
      margin-top: 0.4rem;
    }
  }

  &__user-info {
    align-self: flex-start;
    flex: 1;

    @include card;

    padding: 1.2rem 3.2rem;

    @media only screen and (max-width: 60em) {
      align-self: stretch;
      flex: unset;

      margin-top: 2rem;
    }

    @media only screen and (max-width: 32em) {
      padding: 1.2rem 2.4rem;
    }
  }
}
