.add-candidate-form {
  max-width: 48rem;

  &__group {
    display: flex;
    flex-flow: column nowrap;

    margin-bottom: 1.2rem;

    &--cols-2 {
      flex-flow: row wrap;
      justify-content: space-between;

      @media only screen and (max-width: 54em) {
        flex-flow: column nowrap;
        justify-content: flex-start;
      }
    }
  }

  &__field {
    flex: 1;
    padding: 1.2rem 2.4rem;

    border: 1px solid darken($color-white, 20%);
    border-radius: 0.5rem;

    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    color: darken($color-white, 50%);

    outline: none;

    &:focus {
      border-color: $color-purple;
    }

    &--half-width {
      flex: 1;

      &:first-child {
        margin-right: 1.2rem;

        @media only screen and (max-width: 54em) {
          margin-right: 0;
          margin-bottom: 1.2rem;
        }
      }
    }
  }

  &__textarea {
    height: 8rem;

    resize: none;
  }

  &__annotation {
    margin-top: 0.8rem;
    padding-left: 2.5rem;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: darken($color-white, 40%);
  }

  &__submit {
    margin-top: 1.2rem;
    padding: 1.2rem 2.4rem;

    border: none;
    border-radius: 0.5rem;
    background-color: lighten(#686de0, 12%);
    box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);

    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    color: $color-white;

    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    backface-visibility: hidden;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2);
    }

    &:focus,
    &:active {
      transform: translateY(-2px);
      box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.17);
    }
  }
}
