.app {
  display: flex;
  flex-flow: column nowrap;

  height: 100vh;

  background-color: $color-white;

  &__main-content {
    display: flex;

    min-height: calc(100vh - #{$header-height});

    background-color: $main-background-color;
    border-top-left-radius: 2rem;

    margin-left: $sidebar-width;

    overflow: auto;

    @media only screen and (max-width: 48em) {
      margin-left: 0;

      border-top-left-radius: 0;
    }

    @media only screen and (max-width: 26em) {
      height: calc(100vh - #{$header-height-mobile});
    }
  }
}
