.auth-form {
  display: flex;
  flex-flow: column nowrap;

  &__group {
    display: flex;
    flex-flow: column nowrap;

    margin-bottom: 2rem;
  }

  &__label {
    align-self: center;

    margin-bottom: 0.6rem;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
  }

  &__field {
    padding: 0.8rem 2.4rem;

    background-color: transparent;
    border: 1px solid darken($color-white, 20%);
    border-radius: 10rem;

    text-align: center;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 0.5px;

    outline: none;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    &:hover {
      background-color: darken($color-white, 1%);
    }

    &:focus {
      border-color: $color-pink;
    }
  }

  &__submit {
    align-self: center;

    min-width: 16rem;

    margin-top: 2.4rem;
    padding: 1.2rem 2.4rem;

    background-image: linear-gradient(to right bottom, $color-pink, $color-purple);
    box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.1);
    border-radius: 10rem;
    border: none;

    text-align: center;
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: $color-white;

    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.4rem 2.4rem rgba(0, 0, 0, 0.2);
    }

    &:focus,
    &:active {
      transform: translateY(-2px);
      box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.15);
    }
  }

  &__annotation {
    margin-top: 1.6rem;

    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;

    &-highlight {
      border-bottom: 2px solid $color-pink;

      color: $color-pink;

      transition: opacity 0.2s ease, padding-bottom 0.2s ease;
      backface-visibility: hidden;

      &:hover {
        opacity: 0.8;
        padding-bottom: 0.2rem;
      }
    }
  }
}
