.candidates {
  @include card;

  &__header {
    display: flex;
    align-items: center;

    margin-bottom: 1.2rem;
  }

  &__title {
    margin-right: auto;

    @include font-md;
    color: darken($color-white, 40%);

    @media only screen and (max-width: 26em) {
      @include font-sm;
    }
  }

  &__button {
    @include card-button;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
  }

  &__link {
    @include font-md;

    transition: color 0.2s ease;

    &:hover {
      color: $color-purple;
    }
  }
}
