.candidate-card-expanded {
  @include card;

  font-weight: 600;

  &__title {
    margin-bottom: 0.6rem;

    font-size: 2rem;
    line-height: 2.4rem;
  }

  &__status {
    display: inline-block;

    margin-bottom: 1.6rem;
    padding: 0.4rem 1rem;

    border-radius: 10rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $color-white;

    &--is-employed {
      background-color: $color-green;
    }

    &--not-employed {
      background-color: $color-orange;
    }
  }

  &__interview {
    margin-bottom: 1.2rem;

    font-size: 1.6rem;
    line-height: 2rem;

    &-time {
      color: darken($color-white, 40%);
    }
  }

  &__divider {
    width: 100%;
    height: 0.2rem;

    margin-bottom: 2.4rem;

    background-color: darken($color-white, 5%);
  }

  &__info-list {
    margin-bottom: 1.2rem;
  }

  &__comment {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__controls {
    display: flex;
    flex-flow: row wrap;

    margin-top: 2.4rem;
  }

  &__button {
    @include button;

    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.info-list {
  display: flex;
  flex-flow: row wrap;

  list-style: none;

  &__item {
    margin-right: 1.2rem;
    margin-bottom: 1rem;
    padding: 1.6rem 2rem;

    box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);
    background-color: lighten(#686de0, 12%);
    border-radius: 1.6rem;

    color: $color-white;
  }

  &__title {
    margin-bottom: 0.2rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__content {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;

    @media only screen and (max-width: 32em) {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}
