.director {
  @include card;

  &__title {
    margin-bottom: 0.8rem;

    @include font-md;
    color: darken($color-white, 40%);

    @media only screen and (max-width: 26em) {
      @include font-sm;
    }
  }

  &__name {
    @include font-lg;

    @media only screen and (max-width: 26em) {
      @include font-md;
    }

    a {
      transition: color 0.2s ease;

      &:hover {
        color: $color-purple;
      }
    }
  }
}
