.director-request {
  @include card;

  font-weight: 600;

  &__title {
    margin-bottom: 0.8rem;

    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;

    a {
      transition: color 0.2s ease;

      &:hover {
        color: $color-purple;
      }
    }
    @media only screen and (max-width: 26em) {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  }

  &__comment {
    margin-bottom: 2.4rem;

    font-size: 1.4rem;
    color: darken($color-white, 60%);
  }

  &__divider {
    margin-bottom: 2.4rem;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__button {
    padding: 1.2rem 1.6rem;

    background-color: rgba($color-black, 0.03);
    border: none;
    border-radius: 0.6rem;

    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;

    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: rgba($color-black, 0.06);
      color: darken($color-purple, 10%);
    }

    &:active {
      background-color: rgba($color-black, 0.08);
      color: darken($color-purple, 12%);
    }

    &:first-child {
      margin-right: 1rem;
    }
  }
}

.request-labels-list {
  display: flex;
  flex-flow: row wrap;

  margin-bottom: 1.6rem;

  list-style: none;

  &__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;

    background-color: lighten(#686de0, 12%);
    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;

    font-size: 1.4rem;
    color: $color-white;
  }
}
