.director-candidates-list {
  background-color: $color-white;
  box-shadow: $box-shadow;

  margin-top: 2.4rem;

  list-style: none;

  &__item {
    padding: 2.4rem 3.2rem;

    transition: background-color 0.2s ease;

    &:not(:last-child) {
      border-bottom: 1px solid darken($color-white, 10%);
    }

    &:hover {
      background-color: darken($color-white, 2%);
    }
  }
}

.candidate {
  position: relative;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;

  &__name {
    margin-bottom: 0.4rem;
  }

  &__interview {
    margin-bottom: 1.2rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: darken($color-white, 40%);
  }

  &__comment {
    margin-bottom: 1.2rem;
  }

  &__interview-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
