.director-candidate {
  @include card;

  margin-top: 2.4rem;

  font-weight: 600;

  @media only screen and (max-width: 26em) {
    margin-top: 1rem;
  }

  &__name {
    margin-bottom: 0.6rem;

    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__interview {
    margin-bottom: 1.6rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: darken($color-white, 40%);
  }

  &__comment {
    margin-bottom: 1.6rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__divider {
    margin-bottom: 1.6rem;
  }

  &__result-title {
    margin-bottom: 2rem;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
  }
}
