.employees-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  list-style: none;

  &__item {
    flex: 0 0 49%;
    margin-bottom: 2.4rem;

    @media only screen and (max-width: 75em) {
      flex: 0 0 100%;
    }

    @media only screen and (max-width: 26em) {
      margin-bottom: 1rem;
    }
  }
}

.employee {
  @include card;

  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;

  &__name {
    margin-bottom: 1.6rem;

    font-size: 1.6rem;
  }

  &__position {
    margin-bottom: 0.4rem;
  }

  &__schedule {
    margin-bottom: 1.6rem;
  }

  &__link {
    display: inline-block;
    padding: 1.2rem 1.6rem;

    background-color: rgba($color-black, 0.03);
    border-radius: 0.6rem;

    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: rgba($color-black, 0.06);
      color: darken($color-purple, 10%);
    }
  }
}
