.employee-card-expanded {
  @include card;

  font-weight: 600;

  &__name {
    margin-bottom: 0.4rem;

    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
  }

  &__position {
    margin-bottom: 2.4rem;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: darken($color-white, 40%);
  }

  &__info-list {
    margin-bottom: 1.6rem;
  }

  &__comment {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__controls {
    margin-top: 1.2rem;
  }

  &__button {
    padding: 1.2rem 1.6rem;

    background-color: rgba($color-black, 0.03);
    border: none;
    border-radius: 0.6rem;

    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;

    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: rgba($color-black, 0.06);
      color: darken($color-purple, 10%);
    }

    &:active {
      background-color: rgba($color-black, 0.08);
      color: darken($color-purple, 12%);
    }
  }
}

.employee-info-list {
  display: flex;
  flex-flow: row wrap;

  list-style: none;

  &__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;

    background-color: lighten(#686de0, 12%);
    border-radius: 0.6rem;

    font-size: 1.4rem;
    color: $color-white;
  }

  &__content {
    font-weight: 600;
  }
}
