.filters {
  @include card--no-padding;

  max-height: 7.2rem;

  position: relative;

  overflow: hidden;
  cursor: pointer;

  @media only screen and (max-width: 48em) {
    max-height: 5.6rem;
  }

  &::after {
    content: '';

    display: block;

    margin-top: -1rem;

    width: 2rem;
    height: 2rem;

    position: absolute;
    top: 3.6rem;
    right: 3.2rem;

    background-image: url('/images/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: transform 0.2s ease;

    @media only screen and (max-width: 48em) {
      margin-top: -0.9rem;

      width: 1.8rem;
      height: 1.8rem;

      top: 2.8rem;
      right: 2.4rem;
    }

    @media only screen and (max-width: 26em) {
      margin-top: -0.8rem;

      width: 1.6rem;
      height: 1.6rem;

      right: 1.6rem;
    }
  }

  &--shown {
    max-height: 100rem;
    overflow: unset;

    &::after {
      transform: rotate(180deg);
    }
  }

  &__title {
    @include font-lg;

    padding: 2.4rem 3.2rem;

    @media only screen and (max-width: 48em) {
      padding: 1.6rem 2.4rem;
    }

    @media only screen and (max-width: 26em) {
      padding: 1.6rem;
    }
  }

  &__filters-list {
    padding: 1px 3.2rem 3.2rem 3.2rem;

    @media only screen and (max-width: 48em) {
      padding: 1px 2.4rem 2.4rem 2.4rem;
    }

    @media only screen and (max-width: 26em) {
      padding: 1px 1.6rem 1.6rem 1.6rem;
    }
  }
}

.filters-list {
  list-style: none;

  &__item:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.filter-form {
  display: flex;

  &__field {
    @include form-field;

    flex: 1;
  }

  &__select {
    background-image: url('/images/icons/arrow_down.svg');
    background-repeat: no-repeat;
    background-size: 1.6rem;
    background-position: right 2.4rem center;
  }
}
