.main-header {
  display: flex;
  align-items: center;

  flex-shrink: 0;
  height: $header-height;

  @media only screen and (max-width: 48em) {
    padding: 0 3.2rem;
  }

  @media only screen and (max-width: 26em) {
    height: $header-height-mobile;

    padding: 0 2.4rem;
  }

  &__toggle-button {
    position: absolute;
    visibility: hidden;
    z-index: -1000;

    @media only screen and (max-width: 48em) {
      position: initial;
      visibility: visible;
      z-index: 0;
    }
  }

  &__logo-container {
    align-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;

    width: $sidebar-width;

    transition: opacity 0.2s ease;

    @media only screen and (max-width: 48em) {
      width: auto;

      margin-left: auto;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  &__logo {
    width: 14rem;
  }

  &__current-time {
    padding: 0.8rem 3.2rem;

    background-color: darken($color-white, 3%);
    border-radius: 10rem;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;

    transition: background-color 0.2s ease, color 0.2s ease;

    @media only screen and (max-width: 48em) {
      display: none;
    }

    &:hover {
      background-color: darken($color-white, 6%);
      color: darken($color-purple, 10%);
    }
  }

  &__user-container {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 4.8rem;

    @media only screen and (max-width: 48em) {
      display: none;
    }

    &:hover {
      color: $color-purple;
    }
  }

  &__user-photo {
    width: 3.6rem;
    height: 3.6rem;

    margin-right: 1.6rem;

    border-radius: 10rem;
  }

  &__user-name {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;

    transition: color 0.2s ease;
  }
}

.toggle-button {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;

  width: 2.8rem;
  height: 1.6rem;

  background-color: transparent;
  border: none;

  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.75;
  }

  &__bar {
    height: 0.2rem;

    background-color: $color-purple;

    &--middle {
      width: 75%;
    }

    &--bottom {
      width: 50%;
    }
  }
}
