.interviews-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  list-style: none;

  &__item {
    flex: 0 0 32%;

    margin-bottom: 2.4rem;

    @media only screen and (max-width: 87.5em) {
      flex: 0 0 49%;
    }

    @media only screen and (max-width: 64em) {
      flex: 0 0 100%;
    }

    @media only screen and (max-width: 26em) {
      margin-bottom: 1rem;
    }
  }
}

.interview-card {
  @include card;

  display: flex;
  flex-flow: column nowrap;

  padding: 1.6rem 2.4rem;

  position: relative;

  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 600;

  &__title {
    margin-bottom: 1.6rem;

    font-size: 1.6rem;
    line-height: 2rem;

    time {
      color: darken($color-white, 60%);
    }
  }

  &__name {
    margin-bottom: 0.2rem;
  }

  &__position {
    margin-bottom: 1.6rem;

    span {
      color: darken($color-purple, 10%);
    }
  }

  &__request-link {
    align-self: flex-end;

    padding: 1.2rem 1.6rem;

    position: relative;
    z-index: 2;

    background-color: rgba($color-black, 0.03);
    border-radius: 0.6rem;

    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
      background-color: rgba($color-black, 0.06);
      color: darken($color-purple, 10%);
    }
  }

  &__interview-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
