.progress {
  @include card;

  &__title {
    margin-bottom: 0.8rem;

    @include font-md;
    color: darken($color-white, 40%);

    @media only screen and (max-width: 26em) {
      @include font-sm;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    max-width: 42rem;
  }

  &__plate {
    flex: 1;
    height: 5px;

    margin-right: 1.6rem;

    background-color: darken($color-white, 5%);
    border-radius: 1rem;

    overflow: hidden;
  }

  &__bar {
    width: 50%;
    height: 100%;

    background-color: $color-purple;
  }

  &__percentage {
    @include font-sm;
    color: $color-purple;
  }
}
