.recruiter-request-expanded {
  @include card;

  &__title {
    margin-bottom: 0.6rem;

    @include font-xl;

    @media only screen and (max-width: 26em) {
      margin-bottom: 0.4rem;
    }
  }

  &__date {
    display: block;

    margin-bottom: 1.2rem;

    @include font-sm;
    color: darken($color-white, 40%);

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__comment {
    margin-bottom: 2.4rem;

    @include font-sm;

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__labels-list {
    margin-bottom: 1.6rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 0.8rem;
    }
  }

  &__divider {
    margin-bottom: 2.4rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__controls {
    display: flex;
    flex-flow: row wrap;
  }

  &__button {
    @include card-button;

    margin-right: 1rem;
  }
}
