.recruiter-requests-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  list-style: none;

  &__item {
    flex: 0 0 49%;

    margin-bottom: 2.4rem;

    @media only screen and (max-width: 75em) {
      flex: 0 0 100%;
    }

    @media only screen and (max-width: 26em) {
      margin-bottom: 1.6rem;
    }
  }
}
