.recruiter-request {
  @include card;

  height: 100%;

  &__title {
    margin-bottom: 0.6rem;

    @include font-xl;

    @media only screen and (max-width: 26em) {
      margin-bottom: 0.4rem;
    }
  }

  &__date {
    display: block;

    margin-bottom: 2.4rem;

    @include font-sm;
    color: darken($color-white, 40%);

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__labels-list {
    margin-bottom: 1.6rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 0.8rem;
    }
  }

  &__divider {
    margin-bottom: 2.4rem;

    @media only screen and (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  &__controls {
    display: flex;
  }

  &__button {
    @include card-button;
  }
}

.labels-list {
  display: flex;
  flex-flow: row wrap;

  list-style: none;

  &__item {
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.6rem;

    background-color: lighten(#686de0, 12%);
    box-shadow: 0 0.2rem 8rem rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;

    @include font-sm;
    color: $color-white;
  }
}
