.requestsList {
  margin-top: 2.4rem;
  list-style: none;

  display: flex;
  flex-flow: row wrap;

  @media only screen and (max-width: 75em) {
    justify-content: space-between;
    margin-top: 2rem;
  }

  @media only screen and (max-width: 26em) {
    margin-top: 1.2rem;
  }

  &__item {
    flex: 0 0 32%;
    margin-bottom: 2.4rem;

    @media only screen and (max-width: 75em) {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 26em) {
      margin-bottom: 1.2rem;
    }

    display: flex;

    & > * {
      flex: 1;
    }

    &:not(:nth-child(3n)) {
      margin-right: 2%;
    }

    @media only screen and (max-width: 75em) {
      flex: 0 0 48%;

      &:not(:nth-child(3n)) {
        margin-right: 0%;
      }
    }

    @media only screen and (max-width: 60em) {
      flex: 0 0 100%;
    }
  }
}

.requestsListCollapsed {
  margin-top: 2.4rem;
  list-style: none;

  &__item {
    margin-bottom: 2.4rem;
  }
}

.request {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 2.4rem;
  padding-bottom: 1rem;
  position: relative;

  background-color: $color-white;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 2rem rgba($color-black, 0.05);
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;

  &:hover {
    background-color: darken($color-white, 1%);
    box-shadow: 0 0.4rem 3rem rgba($color-black, 0.1);
    transform: translateY(-3px);
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__label {
    align-self: flex-start;
    padding: 0.4rem 1rem;
    margin-bottom: 1.6rem;

    border-radius: 10rem;
    color: $color-white;

    &--new {
      background-color: $color-green;
    }

    &--all {
      background-color: $color-orange;
    }
  }

  &__timestamp {
    color: $color-darkgrey;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }
}

.labelsList {
  list-style: none;

  display: flex;
  flex-flow: row wrap;

  &--request {
    margin-bottom: 2.4rem;

    @include font-default;
  }

  &__item {
    padding: 0.4rem 1rem;
    margin-bottom: 1rem;

    background-color: $color-lightgrey;
    border-radius: 10rem;
    font-weight: 400;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
