.request-card-expanded {
  @include card;

  font-weight: 600;

  &__header {
    display: flex;
    align-items: center;

    margin-bottom: 1.2rem;

    @media only screen and (max-width: 32em) {
      flex-flow: column nowrap;
      align-items: flex-start;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 2.4rem;

    @media only screen and (max-width: 32em) {
      margin-bottom: 1rem;
    }
  }

  &__time {
    margin-left: auto;

    font-size: 1.6rem;
    line-height: 2rem;
    color: darken($color-white, 40%);

    @media only screen and (max-width: 32em) {
      margin-left: 0;
    }
  }

  &__divider {
    width: 100%;
    height: 0.2rem;

    margin-bottom: 2.4rem;

    background-color: darken($color-white, 5%);
  }

  &__description {
    margin-bottom: 2.4rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  &__labels {
    display: flex;
    flex-flow: row wrap;

    margin-bottom: -1rem;

    list-style: none;
  }

  &__label {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.6rem 1.6rem;

    background-color: darken($color-white, 5%);
    border-radius: 10rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}
