.section {
  flex: 1;

  padding: 3.2rem 4.8rem;

  @media only screen and (max-width: 48em) {
    padding: 2.4rem 3.2rem;
  }

  @media only screen and (max-width: 26em) {
    padding: 1.6rem;
  }

  &__title {
    margin-bottom: 2.4rem;

    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;

    @media only screen and (max-width: 26em) {
      margin-bottom: 1.6rem;
    }
  }
}
