.sidebar {
  display: flex;
  flex-flow: column nowrap;

  width: $sidebar-width;
  height: calc(100vh - #{$header-height});
  overflow: auto;

  padding: 6rem 4rem;

  position: fixed;
  top: $header-height;
  left: 0;
  z-index: 10;

  background-color: $color-white;

  @media only screen and (max-width: 48em) {
    width: 100vw;
    height: 100vh;

    top: 0;
    left: -105%;

    transition: transform 0.4s ease;

    &--shown {
      transform: translateX(105%);
      z-index: 10;
    }
  }

  &__close-button {
    position: absolute;
    top: 2.4rem;
    right: 4rem;

    visibility: hidden;

    @media only screen and (max-width: 48em) {
      visibility: visible;
    }
  }

  &__nav {
    margin-bottom: 4.8rem;
  }

  &__nav-title {
    margin-left: 2.4rem;

    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
  }

  &__nav-list {
    margin-top: 2rem;
  }

  &__requests-button {
    align-self: center;

    margin-top: auto;
  }
}

.nav-list {
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}

.nav-link {
  display: flex;
  align-items: center;

  padding: 1.2rem 2.4rem;

  border-radius: 10rem;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: darken($color-white, 3%);

    color: darken($color-purple, 5%);
    fill: darken($color-purple, 5%);
  }

  &--active {
    background-color: darken($color-white, 6%);

    color: darken($color-purple, 10%);
    fill: darken($color-purple, 10%);
  }

  &__icon {
    margin-right: 1.2rem;

    width: 1.4rem;
    height: 1.4rem;

    transition: fill 0.2s ease;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;

    transition: color 0.2s ease;
  }
}

.requests-button {
  padding: 1.4rem 2.4rem;

  border: none;
  background-color: lighten(#686de0, 12%);
  box-shadow: 0 0.2rem 1.6rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;

  font-family: inherit;
  font-weight: 600;

  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-2px);
    box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.17);
  }

  &__count {
    margin-right: 0.6rem;
    padding: 0.4rem 0.8rem;

    background-color: $color-white;
    border-radius: 0.5rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
    color: darken($color-white, 60%);
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $color-white;
  }
}

.close-button {
  width: 2.4rem;

  border: none;
  background-color: transparent;

  cursor: pointer;
  outline: none;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.75;
  }

  &__icon {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
