.user-info-list {
  list-style: none;

  &__item {
    display: flex;
    align-items: center;

    padding: 2.4rem 1.6rem;

    &:not(:last-child) {
      border-bottom: 1px solid darken($color-white, 10%);
    }

    @media only screen and (max-width: 32em) {
      padding: 1.6rem;
    }
  }

  &__icon-container {
    width: 2.6rem;
    height: 2.6rem;
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;

    fill: $color-purple;
  }

  &__content {
    flex: 1;

    padding-left: 3.2rem;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
